*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board{
    border: 3px solid brown;
}
.row,.col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    border-bottom: 3px solid brown;
}
.col{
    border-left: 3px solid brown;
}

.cells{
    display: grid;
    grid-template-columns: repeat(8,75px) 25px;
    grid-template-rows: 25px repeat(8,75px);
}

.black{
    background-color: #b58863;
}
.white{
    background-color: #f0d9b5;
}